{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicando Libros</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenidos a www.PublicandoLibros.net</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'add_author' %}">Agregar nuevo autor</a></li>
                <li><a href="{% url 'add_book' %}">Agregar nuevo libro</a></li>
                <li><a href="{% url 'add_publisher' %}">Agregar nueva editorial</a></li>
                <li><a href="{% url 'search' %}">Buscar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
